{% extends 'header.html'%}

{% block content %}

{% if request.user.is_applicant %}

 <!-- Hero Area Start-->
<section>
    <div class="slider-area ">
    <div class="single-slider section-overly slider-height2 d-flex align-items-center" data-background="assets/img/hero/about.jpg">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="hero-cap text-center">
                        <h2>Applicant</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
 </div>
</section>

{% elif request.user.is_recruiter %}

 <!-- Hero Area Start-->
<section>
    <div class="slider-area ">
    <div class="single-slider section-overly slider-height2 d-flex align-items-center" data-background="assets/img/hero/about.jpg">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="hero-cap text-center">
                        <h2>Recruiter</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
 </div>
</section>

{% endif %}
{% endblock content %}
